* {
  margin: 0;
  padding: 0;
}

h1 {
  width: 96%;
  height: 50px;
  padding: 0% 2%;
  background-color: blue;
  text-align: center;
  color: white;
}

h2 {
  background-color: rgb(233, 109, 109);
}

li {
  background-color: rgb(121, 116, 116);
  float: right;
}

li:hover {
  background-color: rgb(21, 156, 214);
  color: white;
}

li a:hover {
  color: white;
}

h3 {
  color: white;
}

footer {
  background-color: black;
  color: white;
  text-align: center;
}

#cajapadre {
  display: flex;
  height: 250px;
}

#cajapadre > div {
  width: 225px;
  margin: 5px;
  background-color: #ccc;
  border: 1px solid;
}

#caja-1 {
  flex: 1;
}

#caja-2 {
  flex: 1;
}

#caja-3 {
  flex: 1;
}

#caja-4 {
  flex: 1;
}